# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# IntelliJ IDEA / WebStorm / JetBrains IDEs specific files
.idea/
*.iml
*.iws
*.ipr
workspace.xml
modules.xml
/tasks/
.idea_modules/
shelf/
httpRequests/

# Logs
*.log
